body{
    background-color: rgb(172, 170, 170);
    margin:30px;
    border :2px solid white;
    padding:10;
    color:rgb(0, 0, 180);
}

aside{
    color:rgb(133, 0, 0);
}

footer{
    color:rgb(1, 82, 1);
}

#Olivier{
    color: beige;
}

#Clement{
    color:aquamarine;
    text-shadow: 0cqmax;
    background-color: black;
}

li{
    margin-inline: 0;
    display: inline-block;
    border-style: solid;
    border-width : 1px;
    border-color: black;
    border-spacing: 0px ;
    border-radius: 15px 15px 0px 0px;
    padding: 1px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

ul{
    justify-content: space-between;
}