/************************
* Mise en page général de la page *
*************************/
html {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #ffffff;
    /* Theme du site (ie, les couleurs)

    Fond sombre : #1f1f1f
    Texte principal : #ffffff
    Texte secondaire : #b9bbbe
    Accent pour erreur : navy ou #080000
    Accent constraste : #ff66fc
    Arrière-plan de la barre de navigation (balise nav): #36393f
    Lien non visité : #f6a50b
    Lien visité : #ff66fc
    */
}


body{
    margin: 0;
    padding: 0;
    border-width: 0;
    display: grid;
    grid-template-areas: 
    "header header" 
    "aside main" 
    "footer footer";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 2fr auto;
    grid-auto-flow: dense;
    min-height: 100vh;
    min-width: 400px;
}

header{
    background-color:#1f1f1f;
    grid-area: header;
}

nav{
    background-color: #36393f;
    padding: 10px 30px 10px 30px;
    grid-area: aside;
}

main{
    display: flex;
    flex-direction: column;
    background-color: #CC5500;
    padding: 3% 0% 3% 0%;
    text-align: center;
    line-height: 46px;

    grid-area: main;
    justify-content: center;
    align-items: center;
}

/* Permet de centrer les éléments dans le main */
main div {
    min-width: 90%;
    flex: 0;
    justify-content: center;
    align-items: baseline;
}

footer{
    grid-area: footer;
    text-align: center;
    background-color: #1f1f1f;
    padding: 10px 30px 10px 30px;
}

/************************
* Mise en page de la balise header *
*************************/

.logo_titre_connexion{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#logo{
    max-width: 300px;
    max-height: 200px;
    justify-self: center;
    align-self: center;
}

#logo_header{
    display: flex;
    flex: 0;
    max-width: 300px;
    max-height: 200px;
}

#titre_header{
    display: flex;
    flex: 12;
    justify-content: center;
    align-items: center;

    text-align: center;
    text-decoration: double;
    text-shadow: 1px 0 0 #f6a50b;
    font-size: 50px;
    color: #CC5500; 
}

#panier_connexion{
    display: flex;
    flex-direction: column;
    flex: 1.5;
    justify-content: center;
    margin:4px 8px 4px 5px;
}


.bouton_client{
    flex : 1;
    min-width: 100%;
    text-align: center;
    font-size: 16px;
    color:#ff66fc;

    border-radius: 15px;
    border: 3px ridge #ff66fc;
    background-color: #36393f;

    padding: 2% 5% 2% 5%;
    margin:1px 0 1px 0;
}

.bouton_client:hover{
    color: #ff66fc;
	height: 100%;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.1);
	transition: text-shadow, color 1s;
}

#nom_user{
    text-align: center;
    color: #ffffff;
}

.categories{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.categories ul{
    padding: 0;
    margin: 0;

    font-family: "Times";
	font-size: 15pt;
	background:linear-gradient(to bottom, #f6a50b 5%, #E15F3A 100%);

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	width: 100%;
	height: 46px;
}

.categories li{
    flex: auto;
	list-style-type: none;
	text-align: center;
	height: 100%;
}

.categories li a{
    display: block;
	color: white;
	text-decoration: none;
	line-height: 46px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	transition: text-shadow, color 1s;
	position: relative;
}

.categories li a:hover{
    color: #1f1f1f;
	height: 100%;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.1);
	transition: text-shadow, color 1s;
}

#espaceClient{
    text-align: right;
    padding: 10px 30px 10px 30px;
}

/************************
* Mise en page de la balise nav *
*************************/
nav ul{
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}

/************************
* Mise en page des produits *
*************************/

table{
    width: 90%;
}

table th,td {
    border: 1px solid;
    padding: 8px;
    text-align: center;
}

.photo-article{
    max-width: fit-content;
    height: 100px;
    display: block;
    margin: auto; 
}

#bouton-Stock{
    margin: 10px;
}

/* Propriétés des stocks */
.stock{
    display: none;
}

.stock.afficherStock{
    display: table-cell;
}

/* Propriétés pour l'ajout/retrait de la commande */

.quantite-voulue{
    text-align: center;
}


/************************
* Mise en page du contact *
*************************/

#contactTable{
    width: 100%;
    padding: 0;
}

#contactTable td{
    text-align: left;
}

#contactTable textarea{
    width: 500px;
    height: 200px;
}

.erreurCase{
    border: 3px solid navy;
}

/************************
* Mise en page de Login *
*************************/

#loginTable{
    width: 100%;
    padding: 0;
}

#loginTable td{
    text-align: left;
}

/************************
* Mise en page de l'Inscription *
*************************/

#inscriptionTable{
    width: 100%;
    padding: 0;
}

#inscriptionTable td{
    text-align: left;
}

/***********************
* Mise en page du Popup : Image  *
************************/


#popup-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
}

#popup{
    max-width: 600px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#popup img{
    max-width: 100%;
    max-height: 100%;
}

#fermer-popup{
    cursor: pointer;
    font-size: 40px;
    color: white;
    float: right;
}

/***********************
* Mise en page du Popup : Confirmation  *
************************/

#overlay_confirmation{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
}

#confirmation_popup{
    max-width: 600px;
    width: 100%;
    position: absolute;
    background-color: #CC5500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fermer_confirmation{
    cursor: pointer;
    font-size: 40px;
    color: white;
    float: right;
}

/***********************
* Erreur de connexion *
************************/

.messageErreur{
    color: navy;
}

/***********************
* Mise en page des Balises *
************************/

a:visited{
    color:#ff66fc;
    text-shadow: 1px 1px 1px #ff0000, -1px 1px 1px #ff0000, 1px -1px 1px #ff0000, -1px -1px 1px #ff0000;
}

a{
    color:#f6a50b;
    text-shadow: 1px 1px 2px #1f1f1f;
}